<nav class="navbar">
  <div class="navbar-brand">
    <span class="navbar-title">MOVIE TIME</span>
  </div>

  <div class="navbar-items">
    <div class="navbar-dropdown">
      <button class="navbar-dropdown-button" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <a mat-menu-item routerLink="home" class="navbar-link">HOME</a>
        <a mat-menu-item routerLink="movies" class="navbar-link">MOVIES</a>
        <a mat-menu-item routerLink="review" class="navbar-link">REVIEW</a>
        <a mat-menu-item routerLink="contact" class="navbar-link">CONTACT US</a>
        <button *ngIf="isLoggedIn; else loginButton" mat-menu-item (click)="logoutUser()">Logout</button>
        <ng-template #loginButton>
          <a mat-menu-item routerLink="login" class="navbar-link">Login</a>
        </ng-template>
      </mat-menu>
    </div>
  </div>
  
</nav>
