/* payment-details.css */

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 /* payment.component.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.payment-methods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.payment-method {
  margin: 0 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; /* Adjust the justification as needed */
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  width: 90px; /* Adjust the width as needed */
  text-align: right;
}

input {
  padding: 5px;
}